.ethan {
    font-size: 100px;
}
.poem{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(131, 94, 64);
    border: 2px, solid, burlywood,;

}