#back-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: gray;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    padding: 15px;
}

#back-button:hover {
    font-size: 18px;
    box-shadow: 1px 1px 5px;
}

#back-button:active {
    background-color: rgb(79, 79, 79);
}

body {
    background-color: rgb(252, 252, 133);
}

.quiz-questions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quiz-questions a {
    color: black;
    text-decoration: none;
    background-color: white;
    border: solid 1px;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.quiz-questions a:hover {
    box-shadow: 2px 2px 4px;
    font-size: 18px;
}

.quiz-questions a:active {
    font-size: 16px;
    background-color: rgb(215, 215, 215);
}

#evil-laugh {
    font-style: italic;
}

#aura-button {
    display: flex;
    font-size: 50px;
    justify-content: center;;
    background-color:rgb(255, 0, 0);
    box-shadow:rgb(255, 0, 0) 0px 0px 10px;
    color: black;
    text-decoration: none;
    border: solid 2px;
    padding: 12px;
    margin-bottom: 20px;
}

#aura-button:hover {
    font-size: 55px;
    box-shadow: 0px 0px 15px;
}

#aura-button:active {
    font-size: 50px;
    background-color: rgb(133, 0, 0);
}

.unlimited-aura {
    background-color:rgb(203, 253, 54);
    box-shadow:rgb(203, 253, 54) 0px 0px 12px;
    padding: 8px;
    margin-bottom: 20px;
}

#ice-cream {
    height: 300px;
}

.pass {
    background-color:rgb(119, 236, 73);
}