.turns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.turns h2, h1 {
    margin-top: 0px;
    margin-bottom: 5px;
}

/*  border-box sets the padding and margin to be included in the widths and heights of all elements */
.memory-game, .memory-game * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/*  margin auto centers the memory game container
    perspective: 1000px sets how far away the object is on the z plane from the viewer */
.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

/*  width and height are calculated with calc()
    width is 25% minus 10 pixels from the margin
    height is 33.333% minus 10 pixels from margin
    position: relative allows the children (images) of .memory-card to be positioned relative to the container
    set the scale to 1 with transform
    transform-style: preserve-3d will position the cards into the 3d space created under .memory-game
    transition applies the transformation over the span of .5 seconds */
.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

/* set the scale to .97 on click over the span of .2 seconds */
.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

/*  when a card has the flip class from the .js file it will be rotated 180 degrees on the y-axis */
.memory-card.flip {
    transform: rotateY(180deg);
}

/*  position: absolute stacks the images on top of each other
    hiding the backface visibility makes it so that upon flipping the cards, a reverse image will not be shown */
.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #ea1aa5;
    backface-visibility: hidden;
}

/*  sets the front face image to be on the flipped side of the cards */
.front-face {
    transform: rotateY(180deg)
}

/*  body as a flex container centers it vertically and horizontally */
body {
    height: 100vh;
    background-color:rgb(199, 181, 254);
    /* display: flex; */
}

#heading {
    margin-bottom: 10px;
    margin-top: 0;
    padding: 10px;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    box-shadow: 5px 5px 5px;
    background-color: rgb(251, 51, 225);
}

#back-button {
    display: flex;
    justify-content: center;
    background-color: gray;
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

#back-button:hover {
    font-size: 18px;
    box-shadow: 1px 1px 5px;
}

#back-button:active {
    font-size: 16px;
    background-color: rgb(71, 71, 71);
}